/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* ids */ 
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}
 /* ordem das regras */
 h2 {
    border-bottom: 2px solid red;
 }

 .titulo {
    border-bottom: 3px solid blue;
 }

 #algum-titulo {
    border-bottom: 4px solid green;
 }

 /* Nome de cores */
 .color-name {
    color:crimson;
 }